a{

    text-decoration: none;
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: var(--color-primario);
    border-radius: 15px;
    color: white;
}

ul{
    font-family: "Medieval";
    list-style: none;
}

.Menu{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 5%;
    padding: 5px;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.Lista_Menu{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
