:root {
    --color-primario: #6a4f30;
    --fuente-mtg: 
    
    
}


a{

    text-decoration: none;
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: var(--color-primario);
    border-radius: 15px;
    color: white;
}

ul{
    list-style: none;
}


.contenedor-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    background-image: url(./Imagenes/Fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Menu{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 5%;
    padding: 5px;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.Lista_Menu{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.contenedor-cartas{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 1rem;

}

.contenedor-formatos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 1rem;

}

.cartas{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 1rem;
    width: 300px;
    aspect-ratio: 5 / 10;
    padding: 5px;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: auto;
}


.sets, .formatos{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 0.5rem 1rem 0rem 1rem;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    width: 40%; 
}

.namesets, .code, .releaseDate, .setType{
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 3px;


}

.name, .cmc, .colors, .types, .subtypes, .rarity, .text, .power, .toughness{
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 3px;    
}

.name{
    position: absolute;
    top: 70%;
    left: 2%;
}

.cmc {
    position: absolute;
    top: 70%;
    right: 2%; 

}

.colors {
    position: absolute;
    top: 30%;
    left: 40%;
}

.types {
    position: absolute;
    top: 75%;
    left: 2%;
}

.subtypes {
    position: absolute;
    top: 75%;
    left: 30%;
}

.rarity {
    position: absolute;
    top: 75%;
    right: 2%;
}

.text{
    position: absolute;
    top: 80%;
    left: 2%;
}

.power{
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.toughness{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.select{
    margin-left: 10%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid;
    background-color: #fff; 
    width: 20%; 
    margin-bottom: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.input-busqueda {
    margin-left: 10%;
    border-radius: 5px;
    border: 2px solid;
    background-color: #fff; 
    width: 20%;
    height: 2rem; 
    margin-bottom: 20px; 
    cursor: pointer;
    box-shadow: none;
    box-sizing: border-box;
}
